.home-container{
    margin-top: 4em;
    padding: 1em 2em;
}
.product-card{
    /* height: 200px !important; */
}
.product-card img{
    width: 100%;
    height:200px;
    object-fit:contain;
}

.price-txt{
    text-decoration: line-through;
}