.header{
    color: rgb(116, 112, 112);
    padding: 1em;
    position: fixed;
    width: 100%;
    /* -webkit-postion:sticky; */
    top:0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 99;
    background: rgba(241, 241, 241, 0.884);
}

.header li{
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    /* border: 2px solid ; */
    padding: 0.5em;
    cursor: pointer;
    z-index: 999;
}

.header .srch-div{
    border: 2px solid black;
    border-radius: 20px;
}

.header .srch-div input{
    background: none;
    border: none;
    padding: 1em;
    outline: none;
    color: black;
}

.body-top{
    padding: 2em;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    left: 0;
    background-color: #fff;
    z-index: 9;
    top:auto ;
}

@media screen and (max-width:600px) {
    .header input{
        display: none;
    }
}